@model Ticket_Manager.ViewModels.TicketIndexViewModel

<div class="container p-3">
    <div class="row pt-4">
        <div class=" col-6">
            <h2>Ticket List</h2>
        </div>
        <div class=" col-6 text-right">
            <a asp-controller="Ticket" asp-action="Create" class="btn btn-outline-dark">
                <i class="fas fa-plus-square"></i> &nbsp; Create New Ticket
            </a>
        </div>
    </div>
    <div class="col-12">
        <form method="post" asp-action="Create">
        </form>
    </div>
    <br /><br />

    @if (Model.Tickets.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Ticket Name
                    </th>
                    <th>
                        Priority
                    </th>
                    <th class="d-none d-sm-table-cell">
                        Reported
                    </th>
                    <th>
                        Assignment
                    </th>
                    <th>
                        Due
                    </th>
                    <th>
                        Status
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @if (Context.Request.Cookies["CurrentProject"] != null)
                {
                    @foreach (var obj in Model.Tickets)
                    {
                        <tr data-href="/Ticket/Edit/@obj.Id">
                            <td>@obj.Name</td>
                            <td>@obj.Priority</td>
                            <td class="d-none d-sm-table-cell">
                                @if (obj.Reported != null)
                                {
                                    @obj.Reported
                                }
                            </td>
                            <td>
                                @if (obj.Assigned != null)
                                {
                                    @obj.Assigned
                                }
                                else
                                {
                                    <span class="text-danger">Unassigned</span>
                                }
                            </td>
                            <td>
                                @if (obj.Due != null)
                                {
                                    @obj.Due
                                }
                            </td>
                            <td>
                                @if (obj.Status != null)
                                {
                                    @obj.Status
                                }
                                else
                                {
                                    <span>NA</span>
                                }
                            </td>
                            @*<td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Ticket" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-controller="Ticket" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>*@
                        </tr>

                        }
                        }
                    </tbody>
        </table>
    }
    else
    {
        <p>No Tickets Exist</p>
    }
</div>
