@model Ticket_Manager.ViewModels.TicketIndexViewModel
@{
    int NumOpen = new int();
    int NumClosed = new int();
    int NumUnassigned = new int();
    int NumAssigned = new int();
    int NumActive = new int();
    int NumResolved = new int();
    int NumOverdue = new int();
    int NumNextSevenDays = new int();
    foreach (var obj in Model.Tickets)
    {
        switch (obj.Status)
        {
            case "Unassigned":
                NumUnassigned++;
                NumOpen++;
                break;
            case "Assigned":
                NumAssigned++;
                NumOpen++;
                break;
            case "Active":
                NumActive++;
                NumOpen++;
                break;
            case "Resolved":
                NumResolved++;
                NumOpen++;
                break;
            case "Closed":
                NumClosed++;
                break;
        }
        if (DateTime.Compare(DateTime.Parse(obj.Due), DateTime.Now) < 0)
        {
            NumOverdue++;
        }
        else if (DateTime.Compare(DateTime.Parse(obj.Due).AddDays(7), DateTime.Now) < 0)
        {
            NumNextSevenDays++;
        }
    }
}
<div class="container p-1">
    <div class="row pt-4">
        <div class=" col-6">
            <h2>Ticket List</h2>
        </div>
        <div class=" col-6 text-right">
            <a asp-controller="Ticket" asp-action="Create" class="btn btn-outline-dark">
                <i class="fas fa-plus-square"></i> &nbsp; Create New Ticket
            </a>
        </div>
    </div>
    <br />
          <div class="row">
              <div class="card m-3">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Overdue &nbsp;
                          <span class="badge badge-danger badge-pill">@NumOverdue</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Next 7 Days &nbsp;
                          <span class="badge badge-warning badge-pill">@NumNextSevenDays</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Open &nbsp;
                          <span class="badge badge-primary badge-pill">@NumOpen</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Closed &nbsp;
                          <span class="badge badge-primary badge-pill">@NumClosed</span>
                      </li>
                  </ul>
              </div>
              <div class="card m-3">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Unassigned &nbsp;
                          <span class="badge badge-primary badge-pill">@NumUnassigned</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Assigned &nbsp;
                          <span class="badge badge-primary badge-pill">@NumAssigned</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Active &nbsp;
                          <span class="badge badge-primary badge-pill">@NumActive</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Resolved &nbsp;
                          <span class="badge badge-primary badge-pill">@NumResolved</span>
                      </li>
                  </ul>
              </div>
          </div>
              <br />
              @if (Model.Tickets.Count() > 0)
              {
                  <table class="table table-bordered table-striped">
                      <thead>
                          <tr>
                              <th>
                                  <a asp-action="Index" asp-route-sortBy="@ViewData["Name"]">
                                      Ticket Name
                                      @if (ViewData["LastSort"].ToString() == "name")
                                      {
                                          <i class="fa fa-sort-down"></i>
                                      }
                                      else if (ViewData["LastSort"].ToString() == "name_desc")
                                      {
                                          <i class="fa fa-sort-up"></i>
                                      }
                                      else
                                      {
                                          <i class="fa fa-sort"></i>
                                      }
                                  </a>
                              </th>
                              <th>
                                  <a asp-action="Index" asp-route-sortBy="@ViewData["Priority"]">
                                      Priority
                                      @if (ViewData["LastSort"].ToString() == "priority")
                                      {
                                          <i class="fa fa-sort-down"></i>
                                      }
                                      else if (ViewData["LastSort"].ToString() == "priority_desc")
                                      {
                                          <i class="fa fa-sort-up"></i>
                                      }
                                      else
                                      {
                                          <i class="fa fa-sort"></i>
                                      }
                                  </a>
                              </th>
                              <th class="d-none d-sm-table-cell">
                                  <a asp-action="Index" asp-route-sortBy="@ViewData["Reported"]">
                                      Reported
                                      @if (ViewData["LastSort"].ToString() == "reported")
                                      {
                                          <i class="fa fa-sort-down"></i>
                                      }
                                      else if (ViewData["LastSort"].ToString() == "reported_desc")
                                      {
                                          <i class="fa fa-sort-up"></i>
                                      }
                                      else
                                      {
                                          <i class="fa fa-sort"></i>
                                      }
                                  </a>
                              </th>
                              <th>
                                  <a asp-action="Index" asp-route-sortBy="@ViewData["Assignment"]">
                                      Assignment
                                      @if (ViewData["LastSort"].ToString() == "assignment")
                                      {
                                          <i class="fa fa-sort-down"></i>
                                      }
                                      else if (ViewData["LastSort"].ToString() == "assignment_desc")
                                      {
                                          <i class="fa fa-sort-up"></i>
                                      }
                                      else
                                      {
                                          <i class="fa fa-sort"></i>
                                      }
                                  </a>
                              </th>
                              <th>
                                  <a asp-action="Index" asp-route-sortBy="@ViewData["Due"]">
                                      Due
                                      @if (ViewData["LastSort"].ToString() == "due")
                                      {
                                          <i class="fa fa-sort-down"></i>
                                      }
                                      else if (ViewData["LastSort"].ToString() == "due_desc")
                                      {
                                          <i class="fa fa-sort-up"></i>
                                      }
                                      else
                                      {
                                          <i class="fa fa-sort"></i>
                                      }
                                  </a>
                              </th>
                              <th>
                                  <a asp-action="Index" asp-route-sortBy="@ViewData["Status"]">
                                      Status
                                      @if (ViewData["LastSort"].ToString() == "status")
                                      {
                                          <i class="fa fa-sort-down"></i>
                                      }
                                      else if (ViewData["LastSort"].ToString() == "status_desc")
                                      {
                                          <i class="fa fa-sort-up"></i>
                                      }
                                      else
                                      {
                                          <i class="fa fa-sort"></i>
                                      }
                                  </a>
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          @if (Context.Request.Cookies["CurrentProject"] != null)
                          {
                              @foreach (var obj in Model.Tickets)
                              {
                                  <tr data-href="/Ticket/Details/@obj.Id">
                                      <td>@obj.Name</td>
                                      <td>@obj.Priority</td>
                                      <td class="d-none d-sm-table-cell">
                                          @if (obj.Reported != null)
                                          {
                                              @obj.Reported
                                          }
                                      </td>
                                      <td>
                                          @if (obj.Assigned != null)
                                          {
                                              @obj.Assigned
                                          }
                                          else
                                          {
                                              <span class="text-danger">Unassigned</span>
                                          }
                                      </td>
                                      <td>
                                          @if (obj.Due != null)
                                          {
                                              @obj.Due
                                          }
                                      </td>
                                      <td>
                                          @if (obj.Status != null)
                                          {
                                              @obj.Status
                                          }
                                          else
                                          {
                                              <span>NA</span>
                                          }
                                      </td>
                                  </tr>
                              }
                          }
                      </tbody>
                  </table>
              }
              else
              {
                  <p>No Tickets Exist</p>
              }
          </div>
