@model Ticket_Manager.ViewModels.PeopleIndexViewModel

<div class="container p-3">
    <div class="row pt-4">
        <div class=" col-6">
            <h2>Project Members</h2>
        </div>
        <div class=" col-6 text-right">
            <h2>Invite Code: @Model.JoinId</h2>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.PeopleInProject)
            {
                <tr>
                    <td>@obj.FirstName</td>
                    <td>@obj.LastName</td>
                    <td>@obj.Email</td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Ticket" asp-route-Id="@obj.UserProjectId" asp-action="Delete" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
